[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

.vscode
*.sln
*.slnx
*.csproj

.DS_Store
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.VolumeIcon.icns
__MACOSX/